---
layout: default
---
<!-- Wrapper -->
<section id="wrapper">
  <header>
    <div class="inner">
      <a href="{{ page.category | relative_url }}"><h2>{{ page.title }}</h2></a>
      <p>{{ page.description }} </p>
    </div>
  </header>
  <!-- Content -->
  <div class="wrapper">
    <div class="inner">
      {% assign posts = site.posts %}
      {% for post in posts %}
      {% if post.title != 404 %}
      <a href="{{ post.url | relative_url }}">
      <header class="major">
        <h1>{{ post.title }}</h1>
      </header>
      {% if post.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></span>{% endif %}
      {% if post.date %}<p>{{ post.date | date_to_string }}</p>{% endif %}
      <p>{{ post.content }}</p>
      {% endif %}
      {% endfor %}
      </a>
    </div>
  </div>
</section>
